{% extends 'app/loginhome.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<div class = "container">
    <link rel="stylesheet" href="{% static 'css/login_style.css' %}">
    <h1  style ="text-align:center; "> Bill </h1>

    <body>
        <p>Customer Name      : {{Bill.customer_name}}</p>
        <p>Customer Phone no. : {{Bill.customer_number}}</p>
        <table style="width:100%">
            <tr>
                <th>Medicine ID</th>
                <th>Medicine Generic name</th>
                <th>Quantity</th>
                <th>Sub Total</th>
            </tr>
            {% for form1,form2 in x %}
                <td>{{form1.medicine_id}}</td>
                <td>{{form2}}</td>
                <td>{{form1.quantity}}</td>
                <td>{{form_med.unit_sell_price}}</td>
            </tr>
            {% endfor %}
           
        </table>
        <h2 style ="text-align:center; ">Total Amount         : Rs. {{Bill.amount}}</h2>
        
    </body>
        <!--button type="submit" class="btn btn-success">Register</button-->
        <h4 style ="text-align:center; "><a href="/bill/">Generate pdf</a></h4>
    {% if err %}<p>{{err}}</p>{%endif%}
</div>
{% endblock %}